lightning_logs/
tb_logs/
checkpoints/
val_output*
test.py
__pycache__/
snippet.py
example_outputs/
data/conceptnet-assertions-5.6.0.csv
data/conceptnet-english.csv
data/conceptnet.graph
*valid_references.json
models/
data/classifier_data.data/
